In [213]:
from pubg_util import mysql, load_schema, notifier
from sphynx import sphynx, NODE_SMALL, NODE_MEDIUM, NODE_LARGE
from pyspark.sql.functions import *
import pandas as pd
import pickle

spark = sphynx.get_spark(executor_count=8, app_name='west0', node_spec=NODE_LARGE)

Spark cluster not assigned. creating a new one...
Node spec: 8 executors with 48G RAM each
Job Port 4049 is assigned for requested cluster
Waiting for Spark master to be available...
Spark master launched!
Creating new Spark session, name: west0...

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35113)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35113)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35113)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35113)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35113)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35113)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35113)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35113)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35113)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35113)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

Waiting for all executors ready...
All executors connected!
Complete! elapsed time: 00:00:24

In [233]:
sphynx.stop()

Stopping Spark session...
Destroying Spark cluster...
Done!
You can safely ignore the warning message if there is any.

In [217]:
from pyspark.sql.types import * 

def classify_country(country_os, country_ip):
    if country_os != 'CN':
        return country_ip
    else:
        return country_os

country_type_udf = udf(classify_country, StringType())
meta_region = mysql.read_table(spark, 'metainfo', 'meta_bi_regions')

## PCS5

In [205]:
pcs5 = load_schema.lobby(spark,
                     "pc",         
                     "live",      
                     "PickStatusChanged",  
                     "2021-09-08", 
                     "2021-09-30"  
                     )

In [206]:
pcs5_user = load_data_mart("pc", "2021-09-30", "2021-09-30", "user_master").where(col("lastlogindate") >= "2021-09-08").withColumnRenamed("accountid", "account_id")
pcs5_user = pcs5_user.withColumnRenamed("accountid", "account_id")

In [207]:
pcs5_user = pcs5_user.withColumn("country_new", country_type_udf("country_os", "country_ip"))
pcs5_user = pcs5_user.join(meta_region, pcs5_user.country_new == meta_region.country_code_iso2, "left")

In [208]:
pcs5_coupon = load_schema.lobby(spark, "pc", "live", "CurrencyIncreased", "2021-09-08", "2021-09-30"). \
    where(col("Currency").like("%votingcoupon%"))

In [209]:
pcs5_coupon = pcs5_coupon.withColumnRenamed("AccountId", "account_id")
pcs5_coupon = pcs5_coupon.join(pcs5_user, "account_id", "left")

In [79]:
pcs5_coupon.where(col("Amount") > 0).groupBy("pubg_region").agg(countDistinct("account_id").alias("owner count")).show(truncate=False)

+-----------+-----------+
|pubg_region|owner count|
+-----------+-----------+
|CN         |167613     |
|NA         |2675       |
|SA         |3264       |
|KR         |36595      |
|SEA        |14693      |
|JP         |688        |
|TW/HK      |1901       |
|CIS        |6402       |
|EMEA       |10757      |
|OC         |911        |
+-----------+-----------+

In [140]:
pcs5_user = pcs5_user.select("account_id", "pubg_region")
pcs5 = pcs5.join(pcs5_user, pcs5.AccountId == pcs5_user.account_id)

In [141]:
pcs5.groupBy("date").agg(count("*").alias("vote_cnt"), countDistinct("AccountId").alias("voter_cnt")).orderBy("date").toPandas()

          date  vote_cnt  voter_cnt
0   2021-09-08   1052606      86781
1   2021-09-09    630097      56092
2   2021-09-10    455475      42053
3   2021-09-11    421410      39537
4   2021-09-12    337938      32177
5   2021-09-13    244949      24293
6   2021-09-14    214136      21100
7   2021-09-15    202463      20291
8   2021-09-16    237282      25036
9   2021-09-17    288036      31572
10  2021-09-18    317519      37264
11  2021-09-19    285106      34208
12  2021-09-20    214977      23758
13  2021-09-21    184765      20405
14  2021-09-22    169650      18557
15  2021-09-23    166873      19953
16  2021-09-24    185555      24834
17  2021-09-25    250574      36701
18  2021-09-26    257876      34170
19  2021-09-27    526184      49224
20  2021-09-28    670776      57886
21  2021-09-29    603284      52493
22  2021-09-30    142036      12488

In [77]:
pcs5.select(countDistinct("account_id").alias("total vote user cnt")).show()

+-------------------+
|total vote user cnt|
+-------------------+
|             586730|
+-------------------+

In [47]:
pcs5_user.groupBy("pubg_region").agg(countDistinct("account_id").alias("au")).show(truncate=False)

+-----------+-------+
|pubg_region|au     |
+-----------+-------+
|CN         |3576753|
|NA         |134887 |
|null       |1      |
|SA         |93907  |
|KR         |1116576|
|SEA        |220259 |
|Undefined  |97     |
|JP         |23967  |
|TW/HK      |46065  |
|CIS        |217876 |
|EMEA       |374403 |
|OC         |31035  |
+-----------+-------+

In [58]:
pcs5.groupBy("pubg_region").agg(countDistinct("AccountId").alias("vote_user_cnt"), count("*").alias("vote_cnt")).show(truncate=False)

+-----------+-------------+--------+
|pubg_region|vote_user_cnt|vote_cnt|
+-----------+-------------+--------+
|CN         |353881       |4783664 |
|NA         |6257         |84956   |
|SA         |8836         |127727  |
|KR         |116033       |1609694 |
|SEA        |42642        |618108  |
|Undefined  |1            |16      |
|JP         |1733         |24635   |
|TW/HK      |5079         |72773   |
|CIS        |20301        |283942  |
|EMEA       |29815        |424158  |
|OC         |2152         |29894   |
+-----------+-------------+--------+

In [94]:
pcs5.withColumn("vote_type", when(col("GameId").like("%BONUS%"), "BONUS").when(col("GameId").like("%BR%"), "BR")).groupBy("vote_type", "pubg_region").agg(count("*").alias("vote_cnt"), countDistinct("AccountId").alias("vote_user_cnt")).orderBy("vote_type").show(30, truncate=False)

+---------+-----------+--------+-------------+
|vote_type|pubg_region|vote_cnt|vote_user_cnt|
+---------+-----------+--------+-------------+
|BONUS    |EMEA       |403842  |28272        |
|BONUS    |Undefined  |16      |1            |
|BONUS    |TW/HK      |68847   |4736         |
|BONUS    |CN         |4465055 |317967       |
|BONUS    |JP         |23152   |1632         |
|BONUS    |CIS        |271702  |19500        |
|BONUS    |OC         |28141   |2019         |
|BONUS    |SEA        |589359  |40414        |
|BONUS    |KR         |1533054 |109999       |
|BONUS    |NA         |79999   |5852         |
|BONUS    |SA         |121640  |8370         |
|BR       |CIS        |12240   |5479         |
|BR       |SEA        |28749   |13294        |
|BR       |NA         |4957    |1808         |
|BR       |SA         |6087    |2672         |
|BR       |CN         |318609  |137092       |
|BR       |EMEA       |20316   |8548         |
|BR       |KR         |76640   |29521        |
|BR       |OC         |1753    |645          |
|BR       |TW/HK      |3926    |1613         |
|BR       |JP         |1483    |512          |
+---------+-----------+--------+-------------+

In [97]:
gameid_region = pcs5.withColumn("vote_region", when(col("GameId").like("%ASIA%"), "ASIA").when(col("GameId").like("%APAC%"), "APAC").when(col("GameId").like("%AM%"), "AM").when(col("GameId").like("%EU%"), "EU")). \
    groupBy("vote_region", "pubg_region").agg(countDistinct("AccountId").alias("voter_cnt"), count("*").alias("vote_cnt")).toPandas()

In [99]:
gameid_region.sort_values("vote_region")

   vote_region pubg_region  voter_cnt  vote_cnt
0           AM   Undefined          1         4
1           AM          OC       1984      7633
29          AM          CN     302596   1187878
41          AM          SA       8477     33636
26          AM          NA       5808     22374
24          AM       TW/HK       4651     18340
22          AM         SEA      39460    156312
42          AM         CIS      17979     71001
11          AM          KR     100557    394285
13          AM          JP       1553      6139
18          AM        EMEA      27497    108021
27        APAC          CN     303002   1195574
25        APAC          SA       7931     31505
20        APAC        EMEA      26387    104414
19        APAC          OC       1925      7601
17        APAC   Undefined          1         4
34        APAC          NA       5349     20770
2         APAC         CIS      17842     70245
38        APAC          JP       1525      6079
8         APAC          KR     101028    395365
39        APAC         SEA      40779    161619
40        APAC       TW/HK       4484     17930
31        ASIA          SA       7979     31217
30        ASIA          CN     332941   1247691
28        ASIA   Undefined          1         4
4         ASIA       TW/HK       4809     18801
16        ASIA          KR     113464    429741
23        ASIA        EMEA      26632    103376
10        ASIA         SEA      38550    150596
12        ASIA          OC       1907      7392
37        ASIA          JP       1642      6439
15        ASIA         CIS      17923     68970
6         ASIA          NA       5423     20910
35          EU   Undefined          1         4
36          EU          NA       5428     20902
21          EU         CIS      19323     73726
32          EU          KR      99968    390303
14          EU          SA       8005     31369
9           EU          OC       1872      7268
7           EU          CN     295511   1152521
5           EU        EMEA      27911    108347
3           EU         SEA      38053    149581
33          EU          JP       1522      5978
43          EU       TW/HK       4475     17702

## PCS6

In [179]:
pcs6 = load_schema.lobby(spark,
                     "pc",         
                     "live",      
                     "PickStatusChanged",  
                     "2022-04-06", 
                     "2022-05-06"  
                     )

In [218]:
pcs6_coupon = load_schema.lobby(spark, "pc", "live", "CurrencyIncreased", "2022-03-16", "2022-05-06").where(col("Currency").like("%votingcoupon%"))

In [219]:
pcs6_coupon.select("Reason").distinct().show(truncate=False)

+----------------------+
|Reason                |
+----------------------+
|buy-cash-item         |
|by-support            |
|pickem-pick           |
|commercial-word-redeem|
|inventory-cleanup     |
|open-crate            |
|promotion-code-redeem |
+----------------------+

In [220]:
pcs6_user = load_data_mart("pc", "2022-05-06", "2022-05-06", "user_master").where(col("lastlogindate") >= "2022-04-06").withColumnRenamed("accountid", "account_id")
pcs6_membership = load_membership("pubg", "pc", "2022-05-06", "2022-05-06").select("account_id", "membership").distinct()
pcs6_user = pcs6_user.withColumnRenamed("accountid", "account_id")
pcs6_user = pcs6_user.join(pcs6_membership, "account_id")

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:38039)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45939)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))

In [221]:
pcs6_user = pcs6_user.withColumn("country_new", country_type_udf("country_os", "country_ip"))
pcs6_user = pcs6_user.join(meta_region, pcs6_user.country_new == meta_region.country_code_iso2, "left")

In [222]:
pcs6_coupon = pcs6_coupon.withColumnRenamed("AccountId", "account_id")
pcs6_coupon = pcs6_coupon.join(pcs6_user, "account_id", "left")
# pcs6_coupon.where(col("Amount") > 0).select(countDistinct("account_id").alias("total voting coupon owner count")).show()

In [196]:
pcs6_coupon_region = pcs6_coupon.where(col("Amount") > 0).groupBy("pubg_region", "membership").agg(countDistinct("account_id").alias("coupon_owner_cnt"), sum("Amount").alias("coupon_cnt")).toPandas()
pcs6_coupon_region.pivot_table(values="coupon_owner_cnt", index="pubg_region", columns="membership")

membership   basic  legacy  plus
pubg_region
CIS           1106   11873   701
CN            4031   90429  8022
EMEA           865   16301  1041
JP              16     461    23
KR            2120   20324  2449
NA             284    3672   256
OC              42     763    53
SA             328    4938   150
SEA            348   10333   276
TW/HK           69    1433    86

In [227]:
pcs6_coupon_region_pick = pcs6_coupon.where(col("Reason")=="pickem-pick").groupBy("pubg_region", "membership").agg(countDistinct("account_id").alias("coupon_user_cnt"), sum("Amount").alias("coupon_use_cnt")).toPandas()

In [228]:
pcs6_coupon_region_pick.pivot_table(values="coupon_user_cnt", index="pubg_region", columns="membership")

membership   basic  legacy  plus
pubg_region
CIS            626    7317   522
CN            2036   63726  5823
EMEA           409   11080   643
JP               9     329    18
KR            1157   14424  1785
NA             102    2234   134
OC              16     518    35
SA             188    3457   108
SEA            211    8575   221
TW/HK           38    1066    69

In [203]:
pcs6_coupon_region.pivot_table(values="coupon_cnt", index="pubg_region", columns="membership")

membership   basic  legacy   plus
pubg_region
CIS           1530   21019   1452
CN            6005  238175  22837
EMEA          1362   36862   2292
JP              23    1483     87
KR            4562   61697   7425
NA             495    9532    655
OC              84    2126    180
SA             448   10260    335
SEA            472   22136    644
TW/HK          123    3959    281

In [232]:
pcs6_coupon_region_pick.pivot_table(values="coupon_use_cnt", index="pubg_region", columns="membership")

membership   basic  legacy   plus
pubg_region
CIS           -933  -13780  -1032
CN           -2883 -127561 -12070
EMEA          -616  -22959  -1201
JP             -14    -844    -48
KR           -1826  -31389  -3676
NA            -162   -5158   -300
OC             -27   -1223    -73
SA            -259   -6662   -205
SEA           -285  -16361   -448
TW/HK          -58   -2472   -158

In [197]:
pcs6_user = pcs6_user.select("account_id", "membership", "pubg_region")
pcs6 = pcs6.join(pcs6_user, pcs6.AccountId == pcs6_user.account_id)

In [134]:
pcs6_daily_vote = pcs6.groupBy("date", "membership").agg(count("*").alias("vote_cnt"), countDistinct("AccountId").alias("voter_cnt")).toPandas()

In [136]:
pcs6_daily_vote.pivot_table(values = "voter_cnt", columns="membership", index="date")

membership  basic  legacy  plus
date
2022-04-06  13612  111500  9441
2022-04-07   6602   48279  3407
2022-04-08   5806   35918  2350
2022-04-09   5376   31537  1887
2022-04-10   4354   24404  1413
2022-04-11   3594   17347  1032
2022-04-12   3795   16297   932
2022-04-13   1915   12303   676
2022-04-14   1716   10104   614
2022-04-15   1840   14294   914
2022-04-16   1817   14407   869
2022-04-17   1784   14610   715
2022-04-18   4274   18255  1080
2022-04-19   6152   14569   787
2022-04-20   3472   15212   840
2022-04-21   1689   17684   957
2022-04-22    546    5469   374
2022-04-25   3199   38167  2368
2022-04-26   3027   37353  2352
2022-04-27   3439   41485  2647
2022-04-28   2889   30980  1898
2022-04-29   3546   41060  2379
2022-04-30   3423   38149  1996
2022-05-01   3174   38221  1811
2022-05-02   7058   35737  1846
2022-05-03   9951   27436  1473
2022-05-04   8916   28093  1497
2022-05-05   3060   26802  1461
2022-05-06    809    7138   383

In [93]:
pcs6_user.select(countDistinct("account_id")).show()

+--------------------------+
|count(DISTINCT account_id)|
+--------------------------+
|                  10323773|
+--------------------------+

In [85]:
pcs6.select(countDistinct("account_id").alias("total voter count")).show()

+-----------------+
|total voter count|
+-----------------+
|           632904|
+-----------------+

In [23]:
pcs6_user.groupBy("membership").agg(countDistinct("account_id").alias("au")).show(truncate=False)

+----------+-------+
|membership|au     |
+----------+-------+
|plus      |174226 |
|basic     |4723542|
|legacy    |5426005|
+----------+-------+

In [68]:
pcs6.groupBy("membership").agg(countDistinct("AccountId").alias("vote_user_cnt"), count("*").alias("vote_cnt")).show(truncate=False)

+----------+-------------+--------+
|membership|vote_user_cnt|vote_cnt|
+----------+-------------+--------+
|plus      |32109        |315387  |
|basic     |84996        |849373  |
|legacy    |515799       |5236216 |
+----------+-------------+--------+

In [19]:
pcs6.withColumn("vote_type", when(col("GameId").like("%BONUS%"), "BONUS").when(col("GameId").like("%BR%"), "BR")).groupBy("vote_type", "membership").agg(count("*").alias("vote_cnt"), countDistinct("AccountId").alias("vote_user_cnt")).show(truncate=False)

+---------+----------+--------+-------------+
|vote_type|membership|vote_cnt|vote_user_cnt|
+---------+----------+--------+-------------+
|BONUS    |plus      |296176  |28462        |
|BR       |plus      |19211   |9358         |
|BR       |basic     |7063    |4792         |
|BONUS    |legacy    |5007808 |480492       |
|BR       |legacy    |228408  |112726       |
|BONUS    |basic     |842310  |82909        |
+---------+----------+--------+-------------+

In [29]:
pcs6_user.groupBy("pubg_region").agg(countDistinct("account_id").alias("au")).show(truncate=False)

+-----------+-------+
|pubg_region|au     |
+-----------+-------+
|CN         |5756481|
|NA         |329162 |
|null       |1      |
|SA         |297768 |
|KR         |1365636|
|SEA        |514739 |
|Undefined  |1389   |
|JP         |43369  |
|TW/HK      |89145  |
|CIS        |874111 |
|EMEA       |1065741|
|OC         |47606  |
+-----------+-------+

In [69]:
pcs6.groupBy("pubg_region").agg(countDistinct("AccountId").alias("vote_user_cnt"), count("*").alias("vote_cnt")).show(truncate=False)

+-----------+-------------+--------+
|pubg_region|vote_user_cnt|vote_cnt|
+-----------+-------------+--------+
|CN         |373696       |3786659 |
|NA         |8575         |82543   |
|SA         |13664        |142613  |
|KR         |94448        |935895  |
|SEA        |38360        |416027  |
|Undefined  |1            |7       |
|JP         |1625         |17026   |
|TW/HK      |5738         |59248   |
|CIS        |43614        |434048  |
|EMEA       |51066        |505646  |
|OC         |2117         |21264   |
+-----------+-------------+--------+

In [167]:
region_membership_voter = pcs6.groupBy("pubg_region", "membership").agg(countDistinct("AccountId").alias("voter_cnt")).toPandas()
region_membership_voter.pivot_table(values="voter_cnt", columns="membership", index="pubg_region")

membership     basic    legacy     plus
pubg_region
CIS          10255.0   31797.0   1562.0
CN           47566.0  305278.0  20852.0
EMEA          7307.0   41708.0   2051.0
JP             149.0    1432.0     44.0
KR           12571.0   75879.0   5998.0
NA            1369.0    6850.0    356.0
OC             194.0    1847.0     76.0
SA            1857.0   11505.0    302.0
SEA           3125.0   34551.0    684.0
TW/HK          602.0    4952.0    184.0
Undefined        1.0       NaN      NaN

In [198]:
pcs6_pickem_region = pcs6.withColumn("vote_type", when(col("GameId").like("%BONUS%"), "BONUS").when(col("GameId").like("%BR%"), "BR")). \
    groupBy("vote_type", "pubg_region", "membership").agg(count("*").alias("vote_cnt"), countDistinct("AccountId").alias("vote_user_cnt")).orderBy("vote_type").toPandas()

In [200]:
pcs6_pickem_region[pcs6_pickem_region.vote_type=="BR"].pivot_table(values="vote_user_cnt", index="pubg_region", columns="membership")

membership   basic  legacy  plus
pubg_region
CIS            626    7317   522
CN            2036   63726  5823
EMEA           409   11080   643
JP               9     329    18
KR            1157   14424  1785
NA             102    2234   134
OC              16     518    35
SA             188    3457   108
SEA            211    8575   221
TW/HK           38    1066    69

In [204]:
pcs6_pickem_region[pcs6_pickem_region.vote_type=="BR"].pivot_table(values="vote_cnt", index="pubg_region", columns="membership")

membership   basic  legacy   plus
pubg_region
CIS            933   13780   1032
CN            2883  127561  12070
EMEA           616   22959   1201
JP              14     844     48
KR            1826   31389   3676
NA             162    5158    300
OC              27    1223     73
SA             259    6662    205
SEA            285   16360    448
TW/HK           58    2472    158

In [100]:
gameid_region_pcs6 = pcs6.withColumn("vote_region", when(col("GameId").like("%ASIA%"), "ASIA").when(col("GameId").like("%APAC%"), "APAC").when(col("GameId").like("%AM%"), "AM").when(col("GameId").like("%EU%"), "EU")). \
    groupBy("vote_region", "pubg_region").agg(countDistinct("AccountId").alias("voter_cnt"), count("*").alias("vote_cnt")).toPandas()

In [101]:
gameid_region_pcs6

   vote_region pubg_region  voter_cnt  vote_cnt
0           AM          OC       1544      5936
1         APAC         CIS      32273    122153
2           EU         SEA      24531     98317
3         ASIA       TW/HK       3628     14687
4           EU        EMEA      29352    117974
5         ASIA          NA       4530     17836
6           EU          CN     231702    925266
7         APAC          KR      69040    261082
8           EU          OC       1158      4643
9           AM          KR      67198    256233
10        ASIA         SEA      25223    100383
11        ASIA          OC       1200      4754
12          AM          JP       1088      4157
13          EU          SA       7938     31778
14        ASIA         CIS      23786     94888
15        ASIA          KR      54260    214343
16          AM        EMEA      36099    137317
17        APAC          OC       1545      5931
18        APAC        EMEA      35857    136051
19          EU         CIS      24191     96343
20          AM         SEA      27080    104918
21        ASIA        EMEA      28511    114304
22          AM       TW/HK       3996     15319
23        APAC          SA       9922     38393
24          AM          NA       6392     24296
25        APAC          CN     252055    950897
26        ASIA   Undefined          1         3
27          AM          CN     246184    938925
28        ASIA          CN     248247    971571
29        ASIA          SA       7984     31571
30          EU          KR      51527    204237
31          EU          JP       1037      4215
32        APAC          NA       5966     22832
33          EU   Undefined          1         4
34          EU          NA       4411     17579
35        ASIA          JP       1097      4482
36        APAC          JP       1089      4172
37        APAC         SEA      29251    112409
38        APAC       TW/HK       3990     15336
39          AM          SA      10596     40871
40          AM         CIS      31420    120664
41          EU       TW/HK       3442     13906

In [106]:
gameid_region_pcs6_membership = pcs6.withColumn("vote_region", when(col("GameId").like("%ASIA%"), "ASIA").when(col("GameId").like("%APAC%"), "APAC").when(col("GameId").like("%AM%"), "AM").when(col("GameId").like("%EU%"), "EU")). \
    groupBy("vote_region", "pubg_region", "membership").agg(countDistinct("AccountId").alias("voter_cnt"), count("*").alias("vote_cnt")).toPandas()

In [111]:
gameid_region_pcs6_membership.sort_values(["vote_region", "pubg_region","membership"])[31:60]

    vote_region pubg_region membership  voter_cnt  vote_cnt
2          APAC         CIS     legacy      23660     89974
67         APAC         CIS       plus       1201      4588
7          APAC          CN      basic      37255    141155
46         APAC          CN     legacy     199886    754574
80         APAC          CN       plus      14914     55168
20         APAC        EMEA      basic       4981     18393
62         APAC        EMEA     legacy      29335    112025
91         APAC        EMEA       plus       1541      5633
95         APAC          JP      basic         89       334
13         APAC          JP     legacy        964      3701
87         APAC          JP       plus         36       137
41         APAC          KR      basic       8930     32982
18         APAC          KR     legacy      55565    211242
65         APAC          KR       plus       4545     16858
111        APAC          NA      basic        983      3719
64         APAC          NA     legacy       4740     18220
120        APAC          NA       plus        243       893
33         APAC          OC      basic        125       461
99         APAC          OC     legacy       1359      5253
116        APAC          OC       plus         61       217
8          APAC          SA      basic       1285      4835
23         APAC          SA     legacy       8422     32762
52         APAC          SA       plus        215       796
83         APAC         SEA      basic       2187      7987
51         APAC         SEA     legacy      26543    102495
107        APAC         SEA       plus        521      1927
119        APAC       TW/HK      basic        402      1506
113        APAC       TW/HK     legacy       3447     13295
4          APAC       TW/HK       plus        141       535

In [112]:
gameid_region_pcs6_membership.pivot_table(values="voter_cnt", index=["pubg_region", "membership"], columns=["vote_region"])

vote_region                   AM      APAC      ASIA        EU
pubg_region membership
CIS         basic         7170.0    7412.0    4436.0    4519.0
            legacy       23097.0   23660.0   18468.0   18760.0
            plus          1153.0    1201.0     882.0     912.0
CN          basic        35984.0   37255.0   31966.0   30629.0
            legacy      196202.0  199886.0  203408.0  189297.0
            plus         13998.0   14914.0   12873.0   11776.0
EMEA        basic         4922.0    4981.0    3014.0    3142.0
            legacy       29704.0   29335.0   24488.0   25173.0
            plus          1473.0    1541.0    1009.0    1037.0
JP          basic           88.0      89.0      96.0      85.0
            legacy         967.0     964.0     976.0     929.0
            plus            33.0      36.0      25.0      23.0
KR          basic         8531.0    8930.0    6132.0    5745.0
            legacy       54381.0   55565.0   44826.0   42654.0
            plus          4286.0    4545.0    3302.0    3128.0
NA          basic          990.0     983.0     724.0     719.0
            legacy        5143.0    4740.0    3662.0    3547.0
            plus           259.0     243.0     144.0     145.0
OC          basic          124.0     125.0      94.0      89.0
            legacy        1366.0    1359.0    1075.0    1038.0
            plus            54.0      61.0      31.0      31.0
SA          basic         1310.0    1285.0     807.0     793.0
            legacy        9063.0    8422.0    7005.0    6977.0
            plus           223.0     215.0     172.0     168.0
SEA         basic         2006.0    2187.0    1525.0    1493.0
            legacy       24610.0   26543.0   23275.0   22628.0
            plus           464.0     521.0     423.0     410.0
TW/HK       basic          397.0     402.0     301.0     283.0
            legacy        3467.0    3447.0    3227.0    3065.0
            plus           132.0     141.0     100.0      94.0
Undefined   basic            NaN       NaN       1.0       1.0

In [107]:
# pcs5_tmp = pcs5.withColumn("vote_region", when(col("GameId").like("%ASIA%"), "ASIA").when(col("GameId").like("%APAC%"), "APAC").when(col("GameId").like("%AM%"), "AM").when(col("GameId").like("%EU%"), "EU")). \
#     select("AccountId", "vote_region", "pubg_region").withColumn("esport", lit("pcs5"))
# pcs6_tmp = pcs6.withColumn("vote_region", when(col("GameId").like("%ASIA%"), "ASIA").when(col("GameId").like("%APAC%"), "APAC").when(col("GameId").like("%AM%"), "AM").when(col("GameId").like("%EU%"), "EU")). \
#     select("AccountId", "vote_region", "pubg_region", "membership").withColumn("esport", lit("pcs5"))